/* General Rules */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Rules */

header{
    background-color:#0084fd;
    height: 75px;
    width: 100%;
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
}

header .container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header li{
    display: inline-block;
    padding: 10px;
}

header li a{
    color: white;
    text-decoration: none;
}

.hbg-menu{
    color: white;
    text-decoration: none;
    display: none;
}

/* Main Rules */

main{
    margin-top: 150px;
}

.container{
    width: 80%;
    margin: 0 auto;
}

/* Buttons */

.get-btn a{
    text-decoration: none;
    background-color: white;
    border-radius: 25px;
    color: black;
    padding: 10px;
}

.apple-btn {
    text-align: center;
    width: 50%;
    margin-top: 25px;
    background-color: #0084fd;
    border-radius: 25px;
    padding: 5px;
    
}

a,i{
    margin: 5px;
    text-decoration: none;
    color: white;
}

.more-btn{
    background-color: #9593e6;
    border-radius: 20px;
    padding: 10px 30px;
}

.linkedin-btn{
    font-size: 8px;
    background-color: #9593e6;
    border-radius: 20px;
    padding: 5px;
}

.get{
    text-align: center;
    margin: 25px 35%;
    font-size: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
}

.started-btn{
    text-align: center;
    color: #8e65ff;
}

/* First Section */

#first-section{
    margin-bottom: 100px;
}

.cards{
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 20px);
    /* DEBUG */
    /* min-height: 200px; */
}

.card{
    text-align: center;
    padding: 20px;
    background-color: #97ccfd;
    margin: 10px auto;
    border-radius: 25px;
    width: calc((100% / 3) - 20px);
    /* DEBUG */
    min-height: 200px;
}

/* Double Card */

.double.card{
    display: flex;
    margin: 10px auto;
    width: calc( (100% / 3) * 2 - 20px);
    text-align: left;
    padding: 10px;
}

.titleone{
    padding: 20px;
    font-size: 13px;
    width: 55%;
    color: #0084fd;
    /* DEBUG */
    /* background-color: green; */
    height: 100%;
}

.titleone .contentone{
    font-size: 15px;
    padding-top: 30px;
    color: black;
}

.image{
    padding-top: 40px;
    width: 45%;
    height: 100%;
    /* DEBUG */
    /* background-color: red; */
}

.image .uno{
    position: relative;
    object-fit: contain;
    bottom: -13px;
    z-index: 0;
    width: 100%;
    height: 100%;
}

/* First Card  */

.fa-regular.fa-file-code,
.fa-solid.fa-compass-drafting,
.fa-solid.fa-laptop-code,
.fa-solid.fa-bullhorn{
    /* font-size: 80px; */
    font-size: 4rem;
    color: #0084fd;
    

}

.contenth2{
    margin: 20px auto;
    font-size: 1rem;
    color: #0084fd;
}

.contentcardone{
    margin: 20px auto 0 auto;
    color: black;
}
/* Second Section */

#second-section{
    background-color: #9593e6;
}

.second.container{
    max-width: 1400px;
    width: 70%;
    padding: 100px 0;
    display: flex;
}

.seconds.cards{
    /* DEBUG */
    min-height: 200px;
}

.card.left{
    background-color: #9593e6;
    width: calc(50% - 10px);
    /* DEBUG */
    /* border: 2px solid black; */
}

.card.left .imageleft{
    width: 100%;
    background-color: #8e65ff;
}

.card.left, .lefttitle, .contentleft{
    padding-top: 25px;
    text-align: left;
    color: white;
}

.card.right{
    margin-top: 90px;
    width: calc(50% - 10px);
    /* padding-top: 150px; */
    /* DEBUG */
    background-color: white;
    /* border: 2px solid black; */
}

.card.right .imageright{
    width: 70%;
}

.righttittle, .contentright{
    padding: 25px 0;
    text-align: center;
    color: black;
}

.fa-solid.fa-arrow-down{
    color: black;
    padding: 25px;
    border-radius: 50px;
    background-color: #9593e6;
}

/* Third Section */

#third-section{
    background-color: white;
}

.third.container{
    max-width: 1400px;
    padding: 100px 0;
}

.third.cards{
    width: 100%;
    /* DEBUG */
    /* min-height: 200px; */
}

/* Main Card */

.main.card{
    margin: 10px;
    width: 100%;
    /* DEBUG */
    background-color: white;
}

.main.card, .testimonials{
    font-size: 12px;
    padding-bottom: 10px;
}

main.card, .titlethird{
    font-size: 40px;
    padding-bottom: 10px;
    color: #9593e6;
}

main.card, .contenthird{
    font-size: 20px;
    padding-bottom: 10px;
}

.top, .middle, .bottom{
    display: flex;
    margin: 10px;
    width: 100%;
    /* DEBUG */
    background-color: #9593e6;
}

/* Top, Middle, Bottom Card */

.top.card,
.middle.card,
.bottom.card{
    width: 100%;
} 

.top.card .testimonialone,
.middle.card .testimonialone,
.bottom.card .testimonialone{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.top.card .text,
.middle.card .text,
.bottom.card .text{
    color: white;
    padding: 40px 0 0 20px;
    text-align: left;
}

strong{
    font-size: 20px;
}

.name{
    padding: 20px;
    text-align: left;
    color: white;
}

/* Fourth Secton */

#fourth-section{
    background-color: #9593e6;
}

.fourth.container{
    max-width: 1400px;
    padding: 100px 0;
}

.main-title{
    display: block;
    width: 100%;
    color: white;
    font-size: 35px;
    margin-bottom: 20px;
    /* DEBUG */
    min-height: 100px;
    text-align: center;
    /* background-color: green; */
}

.fourth.cards{
    background-color: #9593e6;
}

.one, .two, .three, .four, .five, .six{
    background-color: white;
    text-align: left;
    margin: 10px auto;
    width: calc((100% / 3) - 20px)
}

.one .number,
.two .number,
.three .number,
.four .number,
.five .number,
.six .number{
    font-size: 40px;
    color: #9593e6;
}

.number, .category{
    font-size: 20px;
    color: #9593e6;
}

.contentnumber{
    padding: 5px 0 20px 0;
    font-size: 15px;
}

/* Fifth Section */
 
#fifth-section{
    background-color: white;
}

.fifth.container{
    max-width: 1400px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    padding: 100px 0;
}

.block.left{
    width: 70%;
    /* DEBUG */
    /* background-color: red; */
    /* min-height: 200px; */
}

.block.left .aboutus{
    color: #9593e6;
    padding-left: 20px;
    font-size: 40px;
}

.block.left .contentfive{
    padding: 10px 20px;
}

.block.right{
    width: 30%;
    /* DEBUG */
    /* background-color: blue; */
    min-height: 200px;
}

.block.right .aboutlogo{
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.block.right .aboutcontent{
    color: #9593e6;
    font-size: 15px;
    padding: 10px 50px 20px 0px;
}

#privacy#policy{
    text-decoration: underline;
}


/* Sixth Section */

#sixth-section{
    background-color:#9593e6;
}

.sixth.container{
    max-width: 1400px;
    width: 60%;
    padding: 100px 0;
}

.main.block{
    /* background-color: green; */
    /* DEBUG */
    min-height: 200px;
}

.main.block .smalltitlesix{
    color: white;
    font-size: 15px;
    text-align: center;
    padding-bottom: 10px;
}

.main.block .titlesix{
    color: white;
    padding-bottom: 10px;
    font-size: 25px;
    text-align: center;
}

.main.block .yellowtitle{
    padding-bottom: 10px;
    text-align: center;
    font-size: 75px;
    color:#f6c56a;
}

.main.block .parasix{
    color: white;
    padding: 0 150px;
    text-align: center;
}

.main.block .copyright{
    color: white;
    font-size: 10px;
    text-align: center;
}

.copyright #special{
    text-decoration: underline;
}
/* Footer Block */

#footer-section{
    background-color: black;
}

.footer.container{
    max-width: 1400px;
    width: 60%;
    padding: 50px 0;
    /* DEBUG */
}

.footer.block{
    margin: 0 auto;
    /* DEBUG */
    min-height: 200px;
}

.footer.block .parafooterone{
    text-align: center;
    color: white;
    padding: 0 100px;
}

.footer.block .parafootertwo{
    text-align: center;
    color: white;
    padding: 50px 200px;
}

.parafootertwo span{
    text-decoration: underline;
    color: #8e65ff;
}



/* Tablet Version */

@media all and (max-width:768px){

    /* First Section */

    .hbg-menu{
        display: inline;
    }

    header li{
        display: none
    }

    .double.card{
        flex-direction: column;
    }

    .card{
        width: calc(95% / 3);
    }

    .titleone{
        width: 100%;
    }

    .image{
        height: 100%;
    }

    /* .contenth2{
        font-size: 18px;
        color: #0084fd;
    } */

    /* Second Section */

    .image{
        width: 100%;
    }

    .card.left{
        width: 100%;
    }
    
    .card.right{
        width: 100%;
    }

    /* Third Section */

    .one, .two, .three, .four, .five, .six{
        width: 46%;
        margin: 10px auto;
    }

    /* Fourth Section */

    .fourth.container{
        width: 90%;
    }

    /* Fifth Section */

    .fifth.container{
        width: 80%;
    }
    
    .block.right .aboutcontent{
        padding: 10px 0 20px 0px;
    }

    /* Sixth Section */
    .sixth.container{
        width: 100%;
    }

    /* Footer */
    .footer.block .parafooterone{
        padding:0;
    }
    
    .footer.block .parafootertwo{
        padding: 50px 50px;
    }
}

/* Mobile Version */

@media all and (max-width:480px){

    /* First Section */

    .double.card{
        width: 100%;
    }

    .card{
        display: block;
        width: 100%;
    } 

    /* Third Section */

    .one, .two, .three, .four, .five, .six{
        width: 100%;
    }

    .top.card .text,
    .middle.card .text,
    .bottom.card .text{
        text-align: center;
    }   

    .name{
        text-align: center;
    }

    /* Fifth Section */

    .fifth.container{  
    display: block;
    width: 90%;
    }

    .block.left{
    margin: 10px auto;
    width: 100%;
    }   

    .block.right{
    margin: 10px auto;
    width: 100%;
    }

    .block.right .aboutcontent{
        padding: 10px 100px 20px 0px;
    }

    /* Sixth Section */

    .main.block .parasix{
        color: white;
        padding: 0 80px;
        text-align: center;
    }

    .get{
        margin: 25px 25%;
    }

    /* Footer */

    .footer.block .parafootertwo{
        font-size: 13px;
        padding: 50px 0;
    }
}